data/*
!data/var_u.mat
mains/*
!mains/main.py
!mains/default_params.py
.ipynb_checkpoints/*
figures/*
__pycache__/
ibbsc/__pycache__/*
ibbsc/.ipynb_checkpoints/*
*.py[cod]
*/.ipynb_checkpoints/
*/__pycache__/
